<h5>Ingredients Available:</h5>

<ul id="ingredient-list" class="list-group">

    {{#each dbIngredient}}
    
    <li data-id="{{this.dataValues.id}}" class="list-group-item">
    <a href="ingredient/{{this.dataValues.id}}">{{this.name}}</a>
    <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}

</ul> 