<div class="row">
    <form class="col s12" id="add-ingredient-form">
        <div class="row">
            <div class="input-field col s12 m5">
                <input placeholder="Name the Ingredient" id="ingredient" type="text" class="validate">
                <label for="ingredient">Ingredient</label>
            </div>
            <div class="input-field col s12 m5">
                <select class="icons" id="ingredient-type">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="" data-icon="images/fruits.png" class="circle">Fruit</option>
                    <option value="" data-icon="images/vegetable.png" class="circle">Vegetable</option>
                    <option value="" data-icon="images/meat.png" class="circle">Meat</option>
                    <option value="" data-icon="" class="circle">Other</option>
                </select>
                <label>Category</label>
            </div>
            <div class="input-field col s1 m1">
                <button type="submit" class="btn-floating btn-large scale-transition">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </form>
</div>