<nav>
    <div class="nav-wrapper teal lighten-2 heading">
      <a href="/" class="brand-logo some-left-margin">Lazy Cupboard </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if user}}
         <li><a href="/">Welcome {{user.firstName}}</a></li>
         <li><a href="/users/logout">Logout</a></li>
        {{else}}
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
         {{/if}}
      </ul>
    </div>
</nav>