<div class="contain">
    <img class="landing-image" src="/images/lazy.jpg">
    <button class="signUpBtn waves-effect waves-light btn-large">Sign Up</button>
    <button href="/users/login" class="logInBtn waves-effect waves-light btn-large">Log In</button>
    {{!-- <a class="logInBtn waves-effect waves-light btn">Log In</a>
    <a class="signUpBtn waves-effect waves-light btn">Sign Up</a> --}}
</div>


<script src="/js/welcome.js"></script>