.list-group-item {
  line-height: 2.5;
}
.content-container {
  width: 95%;
  margin: auto;
}
.some-left-margin {
  margin-left: 10px;
}
.margin-padding {
  padding: 5px;
  margin-top: 10px;
}
.login-container {
  width: 40%;
  margin: auto;
}
.register-container {
  width: 50%;
  margin: auto;
}
.padding-10 {
  padding: 10px;
}
.centralized {
  width: 150px;
  margin: auto;
}
.container-ingredient-list {
  width: 100%;
  padding: 10px;
  margin: auto;
  float: left;
}

.container-meal-list {
  width: 100%;
  margin: auto;
  padding: 10px;
  float: left;
}
.hidden {
  margin: inherit;
}
.card-css {
  height: 400px;
}
.div-image-size {
  max-height: auto;
  max-width: 45%;
}

.delete-button-recipe {
  margin: auto;
}
.image-size {
  display: block;
  width: 100%;
  height: auto;
}
.recipecard-css {
  height: 400px;
}
.brand-logo,
.card-title {
  font-family: "Amatic SC", cursive;
  /* font-size: 3em !important; */
}

.contain {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  object-fit: contain;
}

.landing-image {
  width: 100%;
  max-height: 100%;
}

.logInBtn,
.signUpBtn {
  position: absolute;
  bottom: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 20px;
  /* padding: 12px 24px; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.signUpBtn {
  left: 30%;
}

.logInBtn {
  left: 65%;
}

.logInBtn:hover,
.signUpBtn:hover {
  background-color: black;
}

.brand-logo,
.card-title {
  font-family: "Amatic SC", cursive;
  /* font-size: 3em !important; */
}

/* @media only screen and (min-width: 730px) {
  .contain {

  }
  .contain .logInBtn {
    bottom: 10%;
    left: 65%;
  }
  .contain .signUpBtn {
    bottom: 10%;
    left: 30%;
  }
} */

/* @media only screen and (max-width: 730px) {
  .signUpBtn,
  .logInBtn {
    bottom: 50%;
  }
} */
